{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} Tweet</title>
</head>
    <body>
    {% block include %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
    {% endblock %}
    <script type="application/javascript" src="{% static 'jquery.min.js' %}"></script>
    {% block header %}
        {% block logo %}
            <h1>Welcome to Tweetter</h1>
        {% endblock %}
        {% block login %}
        {% endblock %}
    {% endblock %}
    {% block content %}
    {% endblock %}
    {% block footer %}
        &copy; ITIS BARS Group Lab 2017
    {% endblock %}

    </body>

</html>
