{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change</title>
</head>
<body>
{% trans 'Change your locale' %}:
<form action="/i18n/setlang/" method="POST">
  {% csrf_token %}
  <input name="next" type="hidden" value="/accounts/profile/" /><br/>
  <select name="language">
    {% for lang in LANGUAGES %}
      <option value="{{ lang.0 }}">{{ lang.1 }}</option>
    {% endfor %}
  </select><br/>
  <input type="submit" value="{% trans 'change' %}" />
</form>

</body>
</html>