<!DOCTYPE html>
<html lang="en">
<style type="text/css">
    #btn2 {
        position: relative;
    }
</style>
<head>
    <script type="application/javascript" src="../static/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id ="header">
    HELLO
</div>

<div id="content">
    <p>This is simple page</p>
    <p><textarea id="txt"></textarea></p>
    <p><button id="btn">Press me</button></p>
    <p><button id="btn2">Press me</button></p>
</div>
<div id="footer">
    Down
</div>

<script type="application/javascript">
    $(document).ready(function () {
      $("#btn").click(function () {
          if ($("#header").html()=="HELLO"){$("#header").html("GUTTEN TAG");
          }else {
              $("#header").html("HELLO");
          }
      });
        $("#btn2").click(function () {
            {% comment %}$("#txt").animate().hide(){% endcomment %}
            $("#btn2").animate({left:"+400"},"slow").animate({top:"400"},"slow").animate({left:"+20"},"slow");
        })
    });
</script>
</body>
</html>