{% extends 'base.html' %}
    {% block login %}
        <div style="width: 1px">
            <form method="post" action="#">
                <input type="text" name="username" />
                <input type="password" name="password">
                <input type="submit" value="Login">
            </form>
        </div>
    {% endblock %}
