{% extends "base.html" %}
{% block content %}
<marquee>My Beatiful Tasks</marquee>
    {% csrf_token %}
<table>
{% for task in tasks %}
    <tr>
    <td>
        {{ task }}
    </td>
    <td>
        <a href="{% url "tasks:edit_task" task.id %}">Edit</a>
    </td>
    </tr>
{% endfor %}
</table>
{% endblock %}