<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<p><a href="{% url "tasks:all" %}">Back</a></p>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="edit">
</form>
</body>
</html>