<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>First Page</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
{{ form.as_p }}
<input type="submit" value="sum"></form>
{% if result %}
    <h1>Result:</h1>{{ result }}
{% endif %}
<a href="/result">Results page</a>
</body>
</html>