{% extends 'base.html' %}
{% load i18n %}
{% block header %}
{% if user.is_anonymous %}
    {% block login %}
        {% include 'login.html' %}
    {% endblock %}
    {% block footer %}

    {% endblock %}
{% else %}
    {% block logo %}
            <h1>{% trans 'Welcome to Tweetter,' %} <a href="{% url 'feed:list_tweets' user.username %}">{{ user.username }}</a>!!</h1>
        {% endblock %}
{% endif %}
{% endblock %}