{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load my_filters_and_tags %}
{% block include %}
    <link rel="stylesheet" type="text/css" href="{% static 'feed/style.css' %}"/>
{% endblock %}
{% block content %}
    <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ f.as_p }}
    <input type="submit" value="{% trans 'send' %}"/>
</form>
    <script type="application/javascript">
    $("textarea").val("This is default text")
    </script>
    {{ s |safe }}
    <p>{% trans "Authors:" %} {%  who items %}</p>
    <p>AJAX authors: <span id="ajax_authors"></span><button id="b1">Get</button> </p>

    {% comment %}<script type="application/javascript">
    $("#b1").click(function () {
        $.ajax({
            "url":"{% url 'feed:ajax_get_users' %}",
            "type": "get",
            "success":function (data) {
                $("#ajax_authors").html(data[0].fields.username)
                $("#b1").hide()
            },
            "failure":function(data){}
    })
    });
    </script>{% endcomment %}
    <script type="application/javascript">
    $("#b1").click(function () {
        $.ajax({
            "url":"{% url 'feed:ajax_get_users' %}",
            "type": "post ",
            "success":function (data) {
                $("#ajax_authors").html(data)
                $("#b1").hide()
            },
            "failure":function(data){}
    })
    });
    </script>

{% for t in items %}
    {% if t.isRT %}
        <i>{% trans "Retweeted by" %} {{ t.user }}</i>
        <p><b>{{ t.tweet.user }}: </b></p>
        <p>{{ t.tweet.text }} </p>
        <p><i> {{ t.tweet.pub_date }}</i></p>
        <hr/>
    {% else %}
        <p><b>{{ t.user }}: </b></p>
        <p>{{ t.image|render|safe }}</p>
        <p>{{ t.text }} </p>
        <p><i> {{ t.pub_date }}</i></p>
        <hr/>
    {% endif %}

{% endfor %}
{% endblock %}