{% extends 'base.html' %}
{% load i18n %}
{% block content %}

    <h1>{% trans "Username:" %} {{ username }}</h1>
    <form method="post" action="{% url 'feed:follow' %}">
        {% csrf_token %}
    <input type="hidden" name="user_name" value="{{ username }}">
        {% if state %}
            <p>{{ state }}</p>
        {% else %}
    <input type="submit" value="Read" />
    {% endif %}
    </form>
    {% if not state == 'This is your page' %}
        <form method="POST" action="{% url 'feed:unfollow' %}">
            {% csrf_token %}
            <input type="hidden" name="user_name" value="{{ username }}">
            <input type="submit" value="{% trans 'Unfollow' %}"/>
        </form>
    {% endif %}
    <hr />
  {% for t in tweets %}

    <p><b>{{ t.user }}: </b>{{ t.text }} </p>
    <p><i> {{ t.pub_date }}</i></p>

          <form method="POST" action="{% url 'feed:retweet' %}">
              {% csrf_token %}
              <input type="hidden" name="tweet_id" value="{{ t.id }}"/>
              <input type="submit" value="{% trans 'Retweet' %}"/>
          </form>

           <form method="POST" action="{% url 'feed:cite' %}">
               {% csrf_token %}
               <input type="hidden" name="tweet_id" value="{{ t.id }}"/>
               <input type="submit" value="Cite"/>
           </form>

            <form method="POST" action="{% url 'feed:like' %}">
                {% csrf_token %}
                <input type="hidden" name="tweet_id" value="{{ t.id }}"/>
                <input type="submit" value="♥"/>
            </form>
    <hr/>

{% endfor %}
{% endblock %}